:root {
  --color-body-bg: #f5f3ef; /* Main background color for the body */
  --color-card-bg: #f5f3ef; /* Background color for cards */
  --color-text-primary: #3a2d34; /* Primary text color */
  --color-primary: #5e2a2b; /* Primary color for buttons and links */
  --color-white: #f5f3ef; /* Primary color for buttons and links */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body-bg);
  font-size: 8px;
}

section {
  width: calc(100% - 20px);
  max-width: 1320px;
  margin: 1rem auto;
}