.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  }
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
  }

.promo-section {
  height: 350px;
  background-color: #8b0000; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.promo-section h1 {
  color: #d4af37; 
  font-size: 56px;
  font-weight: bold;
}


  
  
  .logo {
    font-size: 26px;
    font-weight: bold;
  }
  
  
  .nav {
    display: flex;
    gap: 35px;
  }
  
  .nav a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
  }
  
  
  .account {
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .search-bar {
    padding: 20px 40px 30px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 18px 24px;  
    font-size: 16px;
    border-radius: 35px;
    border: none;
    background-color: #f2f2f2;
    outline: none;
  }
  
  
  .content {
    margin-top: 230px; 
  }

  




.books-section {
    padding: 60px 40px;
  }
  
  .books-section h2 {
    font-size: 28px;
    margin-top: 0px;
  }
  
  
  .books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  

  .book-card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .book-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .book-card h3 {
    margin: 15px 0 5px;
    font-size: 18px;
  }
  
  .author {
    font-size: 14px;
    color: #666;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
  }

  .see-all-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .see-all-link {
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    font-weight: 500;
  }
  
  .see-all-link:hover {
    color: #8b0000; 
  }

  
.footer {
  background-color: #421515;
  color: #fff;
  padding: 60px 40px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}


.footer-column h3,
.footer-column h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
  color: #ccc;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

.footer-column ul li a:hover {
  color: #d4af37; 
}


.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
